<h2 class="title is-2"> 個人資料更新</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


<div class="field">
    <div class="label">アカウント名</div>
    <div class="columns">
        <div class="control is-two-thirds column">
          <%= f.text_field :username,class:"input is-success" %>
        </div>
    </div>
</div>
  <p class="help">例:@larrykic</p>
  <br />
<div class="label">アカウント写真</div>
<div class="file">
  <label class="file-label">
    <%= f.file_field :avatar ,class:"file-input" %>
    <span class="file-cta">
      <span class="file-label">
        写真選んてください
      </span>
      <br />
    </span>
  </label>
</div>
<br />
<%= avatar(current_user, size: 250) %>
<div class="field">
    <div class="label">自己紹介</div>
    <div class="columns">
        <div class="control is-two-thirds column">
          <%= f.text_area :intro,rows: 10,class:"textarea is-success" %>
        </div>
    </div>
  </div>
  <div class="field">
    <div class="label">メール</div>
    <div class="columns">
        <div class="control is-two-thirds column">
          <%= f.email_field :email,class:"input is-success", autocomplete: "email" %>
        </div>
    </div>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "更新",data: { confirm: "本当に更新しましょうか？" },class: "button is-primary" %>
  </div>
  <br>
<% end %>
     <h3 class="title is-3"> アカウント削除</h3>
      <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しましょうか？" },class: "button is-danger", method: :delete %>
