<h2 class="title">登錄</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
   <div class="label">メールアドレス</div>
    <div class="control">
     <div class="columns">
      <div class="column is-three-fifths">
       <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'input'%>
      </div>
     </div>
    <div>
  </div>

  <div class="field">
  　<div class="label">パスワード</div>
    <% if @minimum_password_length %>
     (字数制限<%=@minimum_password_length %>以上)
    <% end %><br />
    <div class="control">
     <div class="columns">
      <div class="is-three-fifths column">
       <%= f.password_field :password, autocomplete: "new-password",class: 'input' %>
      </div>
     </div> 
    </div>
  </div>

  <div class="field">
  　<div class="label">パスワード再入力</div>
    <div class="control">
     <div class="columns">
       <div class="is-three-fifths column">
       <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'input' %>
       </div>
     </div>
    </div> 
  </div>

  <div class="actions">
    <%= f.submit "確認",class:'button is-primary' %>
  </div>
<% end %>
<br>
<div class="buttons">
   <%= link_to  "ログイン", new_user_session_path	,class: 'button is-light' %>
</div>
