<%= form_for(story) do |form| %>
  <%= form.label :title, '背景写真',class:"label" %>
  <div class="file">
  <label class="file-label">
    <%= form.file_field :cover_image ,class:"file-input" %>
    <span class="file-cta">
      <span class="file-label">
        写真アップロード
      </span>
    </span>
  </label>
  </div>
  <br />
  <%= image_tag story.cover_image.variant(resize:"350x350^"),class:'cover-image' if story.cover_image.attached? %> 

  <div class="field">
    <%= form.label :title, 'タイトル',class:"label" %>
    <%= form.text_field :title,class: 'input' %>
  </div>
  <div class="field">
    <%= form.label :content, '內文',class:"label" %>
    <%= form.text_area :content,row:10,class: 'textarea' %>
  </div>
  <div class="field">
    <%= form.submit '保存',name: 'save_as_draft', class: 'button is-medium is-light' %>
    <%= form.submit '投稿', name: 'publish',class: 'button is-medium is-primary' %>
  </div>
<% end %>