<!DOCTYPE html>
<html>
  <head>
    <title>MyMdeium2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/frontend/flash' if notice %>
    <div class="container">
       <%= render 'shared/frontend/flash' if notice %>
       <%= render 'shared/frontend/navbar'%>
       <%= yield %>
    </div>
  </body>
</html>
