<!DOCTYPE html>
<html>
  <head>
    <title>MyMdeium2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
       <%= render 'shared/frontend/flash' if notice %>
       <%= render 'shared/frontend/navbar'%>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
